<div class="container">
  <h1>Welcom To Simform Practical</h1>
  <ul>
    <li> User Sign up & Sign in </li>
    <li> User Can perform CURD opration on product </li>
    <li> User upload bluk of record for product </li>
  </ul>

</div>
